<%- include("./layouts/header.ejs") %>

    <h2 class="d-flex justify-content-center">Forget Password</h2>
    <div class="d-flex justify-content-center">
        <form method="POST">
            <div class="form-group mt-3 ">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group mt-3 mb-3 d-flex justify-content-center">
                <input type="submit" value="Blog Setup" class="btn btn-info">
            </div>

<%
                if(typeof message !== 'undefined'){
                    %>
                    <p> <%= message  %></p>
                    <%
                } 
                %>

        </form>
    </div>


    <%- include("./layouts/footer.ejs") %>